<config>
  <database>
    <server>yourserver</server>
    <port>1433</port>
    <database_name>yourdatabase</database_name>
    <trusted_connection>yes</trusted_connection>
    <table name="your_table">
      <columns>
        <column name="sql_column1" type="VARCHAR(100)" excel_column="Excel Column 1" default="N/A" />
        <column name="sql_column2" type="DECIMAL(10,2)" excel_column="Excel Column 2" default="0.00" />
      </columns>
    </table>
  </database>
  <excel>
    <path>C:\path\to\excel\files</path>
    <sheet_name>Sheet1</sheet_name>
  </excel>
</config>